/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Define the background gradient */
body {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Create a subtle pattern overlay */
.main-container {
    background: url('pattern.png'); /* Replace 'pattern.png' with your pattern image */
    opacity: 0.3; /* Adjust the opacity as needed */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Style your dashboard content */
.dashboard {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Dropdown Styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    color: white;
    cursor: pointer;
}

#home {
    float: left;
    margin: 10px;
  
    height: 60px;
    width: 60px;
  
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    margin-top: 70px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(186, 226, 251);
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-dropdown:hover .dropbtn {
    background-color: rgb(219, 241, 255);
}
